<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head">
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title th:text=" 'Spring Boot: MVC + Thymeleaf + Data JPA - ' + ${titulo}"></title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/estilos.css}" />
	</head>
	<body>
		<header th:fragment="header">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container-fluid">
					<a class="navbar-brand navbar__titulo" href="#">Spring Boot</a>
					<button
						class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarNavAltMarkup"
						aria-controls="navbarNavAltMarkup"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
						<div class="navbar-nav">
							<a class="nav-link nav__titulo active" aria-current="page" href="#">Home</a>
							<a class="nav-link nav__titulo" th:href="@{/listar}">Clientes</a>
						</div>
					</div>
				</div>
			</nav>

			<div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
			<div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
			<div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
			<div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
		</header>

		<div class="container"></div>

		<footer th:fragment="footer" class="container">
			<div class="row">
				<div class="col contenedor__footer">
					<hr />

					<div class="imagen__footer">
						<img th:src="@{/images/spring.png}" alt="Spring logo" />
					</div>

					<p>
						Powered by <a href="https://spring.io/projects/spring-data">Spring Data</a>
					</p>
				</div>
			</div>
		</footer>

		<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>
